body {
  padding:0;
}

a, a.btn {
 color:#54a; 
}
a:hover, a.btn:hover {
 color:#548; 
}

h1 {
  font-size:4em;
  margin:20px 0;
  line-height:1.2em;
}

#ribbon {
  position:absolute;
  top:0;
  left:10%;
  width:22%;
}

#header-container {
  background-color: #d6d6d6;
}
#header { 
  padding-left:40%;
  height:auto;
}
#header h1 { 
  margin-top:14%;
  font-size:4em;
  margin-bottom:10px;
}
#header h3 { 
  margin-top:4px;
  font-size:2em; 
  color:#666;
}
#header li a { 
  font-family:junctionregular, lucida grande,lucida sans console,sans-serif;
  background:white;
  margin-right:10px; 
  padding:16px 12px 12px;
}

#actions {
  margin-top:30px;
}
#actions .btn {
  margin-right:20px;
  margin-bottom:10px;
  color:#444;
  padding:20px;
  font-size:2.2em;
  border-width:3px;
  font-family:junctionregular, lucida grande,lucida sans console,sans-serif;
}
#actions .btn img {
  padding-bottom:20px;
}

.band {
  padding:0 20px;
}
.band p, .band li {
  line-height:1.5em;
  font-size:1.5em;
  font-family:junctionregular, lucida grande,lucida sans console,sans-serif;
}
.band li {
  font-size:1.2em;
  margin-bottom:8px;
}

.band.dark h1 {
  text-shadow: 0 -2px 0 #336;
}
.band.dark p, .band.dark li, .band.dark h3 {
  color: #aaf;
}
.band.dark a {
  color: white;
}

#challenges {
  color:white;
}

#count .wepay-donations-progress-widget-wrapper {
  text-align:left;
}
#prizes .wepay-donations-progress-widget-wrapper .wepay-donations-progress-widget {
  width:90%;
  padding:12px;
}
#count .moneys {
  margin-top:40px;
  margin-bottom:30px; 
  color:#444;
}
#count .label {
  font-family:lucida grande, lucida sans console, sans-serif;
}

.wepay-widget-button {
  font-size:1.8em;
}

.social {
  clear:both;
  margin-top:30px;
  margin-bottom:20px;
  padding-top:12px;
  border-top:1px  solid #bbb;
}
.social a {
}

footer {
  padding:10px 20px;
}
